src/main/webapp/WEB-INF/wsdl/OlaService-v1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="OlaService.wsdl"
	targetNamespace="http://com.wordpress.oreboladodeturing/wsdl/OlaService-v1/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://com.wordpress.oreboladodeturing/wsdl/OlaService-v1/"
	xmlns:v1_0="http://com.wordpress.oreboladodeturing/wsdl/OlaService-v1.0/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.wordpress.oreboladodeturing/wsdl/OlaService-v1.0/">
			<xsd:complexType name="DizerOlaRequest">
				<xsd:sequence>
					<xsd:element name="nome" type="xsd:string" maxOccurs="1" minOccurs="1" nillable="false" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DizerOlaResposta">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" maxOccurs="1" minOccurs="1" nillable="false" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="dizerOlaRequest" type="v1_0:DizerOlaRequest" />
			<xsd:element name="dizerOlaResponse" type="v1_0:DizerOlaResposta" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="dizerOlaRequest">
		<wsdl:part element="v1_0:dizerOlaRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="dizerOlaResponse">
		<wsdl:part element="v1_0:dizerOlaResponse" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="OlaService_v1_0">
		<wsdl:operation name="DizerOla">
			<wsdl:input message="tns:dizerOlaRequest" name="dizerOlaRequest" />
			<wsdl:output message="tns:dizerOlaResponse" name="dizerOlaResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="OlaService_v1_0_SOAPBinding" type="tns:OlaService_v1_0">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="DizerOla">
			<soap:operation soapAction="" />
			<wsdl:input name="dizerOlaRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="dizerOlaResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="OlaService_v1_0">
		<wsdl:port binding="tns:OlaService_v1_0_SOAPBinding" name="OlaServiceSOAP">
			<soap:address location="http://localhost:8080/OlaService" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>